.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.navbar_wrapper {
    margin: 10px 10px;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav_center h1 {
    font-weight: 600;
    color: blue;
}

.nav_center {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav_home {
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
}

.nav_home:hover {
    color: rgb(85, 20, 250);
}

.res {
    display: none;
}

@media screen and (min-width:300px) and (max-width:600px) {
    .res1 {
        display: none;
    }

    .res {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}