.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: aliceblue;
    flex-direction: column;
}

@media screen and (min-width:200px) and (max-width:600px) {
    .footer h5 {
        font-size: 20px;
    }
}